<h3>Reset Password</h3>
<div class="jumbotron jumbo-field mx-5 py-4">
  <h5>Please enter your email address to request a password reset</h5>
  <input class="my-3" 
         type="text" 
         placeholder="Email address" 
         #passwordResetEmail 
         required>
  <button class="btn custom-button" 
          (click)="authService.forgotPassword(passwordResetEmail.value)">
          Reset password
  </button>
  <div class="mt-5 align-self-end">
    Go back?
    <button class="btn custom-button"
            routerLink="/sign-in">
            Log in
    </button>
  </div>
</div>