.jumbo-field {
    justify-content: start;
    align-items: flex-start;
}

hr {
    width: 75%;
    margin-top: .1rem;
    margin-bottom: .5rem;
}

// span {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }