$theme-color-dark: #de7a22;
$theme-color-medium: #f4cc70;
$theme-color-light: #f8e6d2;
$theme-color-special: #c60000;
$theme-color-special-grey: rgba(105, 79, 68, 0.86);
$fa-font-path : 'node_modules/font-awesome/fonts';

$theme-font-color: #212529;
