<table class="table table-hover table-bordered">
  <tbody>
  <tr class="table text-uppercase" style="font-size: 1.3rem;">
    <td class="tdHead">No</td>
    <td class="tdHead">Tournament name</td>
    <td class="tdHead">Game</td>
    <td class="tdHead">Rounds played</td>
    <!-- Na razie nie ma skąd -->
    <!-- <td class="tdHead">Winner</td> -->
    <!-- <td class="tdHead">Date</td> -->
    <!-- Mogą być teammejci jak Tournament będzie zupdatowany-->
  </tr>
  <tr *ngFor="let tournament of tournaments; let index = index" (click)="openDetails(tournament.name)">
    <td>{{index + 1}}</td>
    <td>{{tournament.name}}</td>
    <td>{{tournament.gameName}}</td>
    <td>{{tournament.numberOfRounds}}</td>
  </tr>
  </tbody>
</table>
