<nav class="navbar navbar-light">
  <a href="#">
    <img width="60" height="60" src="../../../assets/logo.png" alt="BattleBoard Logo" /> 
  </a>

  <div class="flex-grow-1"></div>
  
  <div *ngIf="authService.isLoggedIn">
    <button class="btn btn-lg custom-button px-4" routerLink="create-tournament">Create Tournament</button>
    <button class="btn btn-lg custom-button px-4 mx-2" routerLink="tournament">Your Tournaments</button>
    <button class="btn btn-lg custom-button px-4" routerLink="choose-game">Find a Game</button>
  </div>
  
  <div class="flex-grow-1"></div>

  <button *ngIf="authService.isLoggedIn"
          class="btn btn-lg custom-button px-4"
          (click)="authService.signOut()">
          Log out
  </button>

  <button *ngIf="!authService.isLoggedIn && isHomePage"
          class="btn btn-lg custom-button px-4"
          routerLink="/sign-in">
          Log in
  </button>
</nav>
