<h3>Register to BattleBoard</h3>
<div class="jumbotron jumbo-field py-5">
  <div class="mb-2 w-100">
    <div>Email address</div>
    <input type="text"
           placeholder="Email address"
           #userEmail
           required>
  </div>
  <div class="mb-2 w-100">
    <div>Password</div>
    <input type="password"
           placeholder="Password"
           #userPassword
           required>
  </div>
  <button class="btn custom-button mt-3 w-100" 
          (click)="authService.signUp(userEmail.value, userPassword.value)">
          Create account
  </button>

  <div class="text-center">Already have an account?
    <a routerLink="/sign-in">Log in</a>
  </div>
</div>