@import '~src/sass/variables.scss';
@import '~src/sass/mixins.scss';

.hero-banner {
  background: url("../../../assets/background.jpg");
  background-size: cover;

  h1 {
    color: $theme-color-light;
  }
}

a {
  color: $theme-font-color;
}

a:hover {
  text-decoration: none;
  font-size: 1.1rem;
}

.games:hover {
  cursor: pointer;
}

.game {
  font-size: 1.4rem;
}

table {
  @include shadow-light;
}