<h3>Log in to BattleBoard</h3>
<div class="jumbotron jumbo-field py-5">
  <div class="mb-2 w-100">
    <div>Username</div>
    <input type="text"
           placeholder="Username"
           #userName
           required>
  </div>
  <div class="mb-2 w-100">
    <div>Password</div>
    <input type="password"
           placeholder="Password"
           #userPassword
           required>
    <div class="text-right">
      <a routerLink="/forgot-password">Forgot password?</a>
    </div>
  </div>
  <button class="btn custom-button mt-3 w-100"
          (click)="authService.signIn(userName.value, userPassword.value)">
          Log in
  </button>
    <button class="btn custom-button mt-3 w-100" (click)="authService.googleAuth()" >
        <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
      Login with Google
    </button>
  <div class="text-center">Don't have an account?
    <a routerLink="/register-user">Sign up</a>
  </div>
</div>
