@import '~src/sass/variables.scss';
@import '~src/sass/mixins.scss';

.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .pts-distribution{
      display: inline-block;
      
  }
  .btn-submit{
    color: #ddd;
    background-color: $theme-color-special;
  }

  .col-md-8{
      text-align: center;
  }
  .jumbotron{
      padding-top:10px;
  }

  .form-inputs{
      padding-top: 1rem;
  }

  .form-inputs div{
    margin: 0 0.3rem;
}
.player-name{
    margin: 0.3rem 0.3rem;
}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown-content li:hover {color: #ddd;background-color: $theme-color-special}
  .dropdown:hover .dropbtn {color: #ddd;background-color: $theme-color-special}
  .pts-distribution:hover {color: #ddd;background-color: $theme-color-special}