<table class="table table-hover table-bordered">
  <tbody>
  <tr class="table">
    <td class="tdHead">Photo</td>
    <td class="tdHead">Name</td>
    <td class="tdHead">Description</td>
    <td class="tdHead">Player number</td>
    <td class="tdHead">Playtime</td>
  </tr>
  <tr *ngFor="let game of games">
    <td><img src="{{game.image_url}}"  height="100" width="100"></td>
    <td>{{game.name}}</td>
    <td>{{game.description_preview}}</td>
    <td>Minimal players: {{game.min_players}} <br> Maximal players: {{game.max_players}}</td>
    <td>Minimal playtime: {{game.min_playtime}} <br> Maximal playtime: {{game.max_playtime}}</td>
  </tr>
  </tbody>
</table>

<div *ngIf="games" class="container text-center py-5">
  <h2>Create {{games[0].name}} tournament!</h2>
  <hr>
  <div class="form-group">

    <label>Name your tournament:</label>
    <input type="text" [(ngModel)]="tournament.name" class="form-control" />
      
    <div class="my-4">
      <h4>Select players</h4>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between my-1"
            *ngFor="let user of userNames"
            [ngClass]=" { 'checked': isPlayerChecked(user) } "
            (click)="choosePlayer(user)">
          <div>{{user}}</div>
          <img *ngIf="!isPlayerChecked(user)"
                src="../../../assets/add.svg">
          <img *ngIf="isPlayerChecked(user)"
                src="../../../assets/clear.svg">
        </li>
      </ul>
    </div>

    <div class="form-inputs">
      <div class="box">
        <h4>Team size</h4>
        <select *ngIf="chosenPlayers.length > 0" (change)="setTeamSize($event)">
          <option *ngFor="let number of fillArrayWithNumbers(1, chosenPlayers.length)" value="{{number}}">
            {{number}} 
            <span *ngIf="number === 1">player</span>
            <span *ngIf="number > 1">players</span>
            per team
          </option>
        </select>
        <div class="py-3" *ngIf="chosenPlayers.length === 0">You must select players</div>
      </div>
      <div class="box">
        <h4>Rounds</h4>
        <select (change)="setNumberOfRounds($event)">
          <option *ngFor="let number of fillArrayWithNumbers(1, 20)" value="{{number}}">
            {{number}}
            <span *ngIf="number === 1">round</span>
            <span *ngIf="number > 1">rounds</span>
          </option>
        </select>
      </div>
    </div>
  </div>
  <hr>
  <button class="btn btn-lg custom-button w-75 text-uppercase mt-3" (click)="onSubmit()" [disabled]="chosenPlayers.length === 0 || tournament.name === ''">Create</button>
</div>
