<table class="table table-hover table-bordered">
  <tbody>
  <tr class="table">
    <td class="tdHead">Photo</td>
    <td class="tdHead">Name</td>
    <td class="tdHead">Description</td>
    <td class="tdHead">Player number</td>
    <td class="tdHead">Playtime</td>
  </tr>
  <tr *ngFor="let game of games">
    <td><img src="{{game.image_url}}"  height="100" width="100"></td>
    <td>{{game.name}}</td>
    <td>{{game.description_preview}}</td>
    <td>Minimal players: {{game.min_players}} <br> Maximal players: {{game.max_players}}</td>
    <td>Minimal playtime: {{game.min_playtime}} <br> Maximal playtime: {{game.max_playtime}}</td>
  </tr>
  </tbody>
</table>
<!-- main app container -->
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3>Create {{games[0].name}} tournament</h3>
          <div class="form-group">
            <label>Name your tournament:</label>
            <input type="text" [(ngModel)]="tournamentName" class="form-control" />
            <div class="form-inputs">
            <!-- dropdown: ilosc graczy -->
             <div class="box">
               <select (change)="setPlayersNumber($event)">
                 <option *ngFor="let number of fillArrayWithNumbers(games[0].min_players, games[0].max_players)" value="{{number}}">{{number}} players</option>
               </select>
             </div>
            <!-- dropdown: losowe druzyny -->
             <div class="box">
               <select (change)="setTeamsChoosing($event)">
                 <option value="random">Random</option>
                 <option value="picked">Picked</option>
               </select>
             </div>
            <!-- dropdown: wielkosc druzyny -->
              <div class="box box-longbox">
                <select (change)="setTeamSize($event)" >
                  <option *ngFor="let number of fillArrayWithNumbers(1,10)" value="{{number}}">{{number}} players in team</option>
                </select>
              </div>
            <!-- dropdown: ilosc rund -->
            <div class="box">
              <select (change)="setNumberOfRounds($event)">
                <option *ngFor="let number of fillArrayWithNumbers(1, 20)" value="{{number}}">{{number}} rounds</option>
              </select>
            </div>
          </div>
          </div>
          <div class="form-group">
            <button class="btn btn-submit" (click)="onSubmit()" >Create</button>
          </div>
      </div>
    </div>
  </div>
</div>
