@import '~src/sass/variables.scss';
@import '~src/sass/mixins.scss';

// global styles 
* {
    font-family: 'Changa One';
    font-size: 1.2rem;
}

body {
    background-color: $theme-color-medium;
}

.custom-button {
    @include button-shadow;
    border-radius: 30px;
    background-color: $theme-color-special;
    color: $theme-color-light;

    transition: transform 0.1s ease-in-out, box-shadow 0.1 ease-in-out;

    &:active {
        @include button-shadow-active;
        transform: translateY(.1em);
    }

    &:hover {
        color: $theme-font-color !important;
    }

    // override default .btn class property
    &:focus {
        @include button-shadow-active;
    }
}

// dynamic content --> router <-- 
// making sure that dynamic component will take whole remaining space of container
// (whole screen space - navbar space = dynamic component space)
app-sign-in, 
app-sign-up,
app-verify-email,
app-forgot-password, 
app-home,
app-tournament,
app-tournament-summary,
app-user-profile {
    width: 100vw;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jumbo-field {
    @include shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $theme-color-dark;

    input {
        width: 100%;
        border: 1px solid $theme-color-dark;
        background-color: $theme-color-light !important;
        border-radius: 4px;
        padding: .5em;
        color: $theme-font-color;
    }

    // chrome autofill sets bgcolor and text color of input so we're overriding it
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $theme-color-light inset !important;
    -webkit-text-fill-color: $theme-font-color;
    }

    a {
        color: $theme-color-medium;
        text-decoration: none;
        font-size: .9em;
    
        &:hover {
            color: $theme-color-special;
        }
    }

    .custom-button {
        border-radius: 4px;
        min-width: 50%;
    }
}